.link {
  color: inherit;
  text-decoration: none;
}

.pattern {
  background-color: #000000;
  background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#ff0000 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #ff0000 2px, #000000 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.ticket-name-input {
  margin-left: 15px;
}

.ticket-email-input {
  margin-left: 15px;
  width: 250px;
}